# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=admin
DB_PASSWORD=123456
DB_NAME=mydb

# Flask Configuration
SECRET_KEY=lxp_secret_key_random_sale_monitor_2026
FLASK_ENV=development
FLASK_DEBUG=1

# Google Gemini API Key
GEMINI_API_KEY1=your_gcp_api_key_here
GEMINI_API_KEY2=your_gcp_api_key_here
